{% extends "base.html" %}

{% block title %}Welcome to Our Realty Company{% endblock %}

{% block content %}
    <h2>Welcome to Our Realty Company</h2>
    <p>We are committed to helping you find the perfect home or investment property. Whether you're looking to rent, buy, or sell, we have the expertise and local market knowledge to assist you every step of the way.</p><br>

    <h3>Our Mission</h3>
    <p>Our mission is to provide top-notch real estate services with honesty, integrity, and professionalism, helping our clients achieve their real estate goals.</p>
{% endblock %}
