{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="profile-container">
        <div class="profile-header">
        <h2>Reset Password</h2>
        <p>Reset your password using your registered email</p>
      </div>

        <form method="POST" action="{{ url_for('reset_request') }}" class="profile-form">
            <div class="form-group">
                <input type="email" name="email" id="email" required class="form-control" placeholder="Email">
            </div>
            <button type="submit" class="btn btn-primary">Request Password Reset</button>
        </form>
    </div>
{% endblock %}
